.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--color-text);
    height: var(--height-welcome-page);
    animation: fadeIn 0.2s ease forwards;
}

.welcome-page-container {
    text-shadow: var(--text-shadow-welcome-page__heading);
    margin: 35dvh 0 0 0;
}

.welcome-page-container__title {
    font-size: 40px;
    max-width: 500px;
}

.welcome-page-container__description {
    margin: var(--welcome-page-container__description);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 630;
}

.welcome-page__button--icon {
    margin: 1px 0 0 10px;
    width: 23px;
    height: 23px;
    stroke: white;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.welcome-page__button {
    display: flex;
    margin: 100px 0 0 0;
    font-size: var(--font-size-xs);
    text-shadow: 5px 5px 50px #000000b0;
}

.welcome-page__button:hover {
    transform: var(--transform-welcome-page__button--item);
    opacity: 80%;
    text-shadow: 7px 7px 50px #000000bd;
    cursor: pointer;
}

/* @media(min-height: 800px) { */
    .welcome-page-container {
        margin: 40dvh 0 0 0;
    }
/* } */

@media(min-width: 650px) {
    .welcome-page-container__title {
        font-size: 50px;
    }

    .welcome-page-container__description {
        margin: var(--welcome-page-container__description-650);
        font-size: 16px;
    }
}

@media(min-width: 900px) {
    .welcome-page-container__title {
        max-width: none;
    }
}

@media(min-width: 1250px) {
    .welcome-page-container__title {
        font-size: 50px;
    }

    .welcome-page__button {
        font-size: var(--font-size-xs);
    }
}

@media(min-width: 1550px) {
    .welcome-page-container__title {
        font-size: 53px;
    }

    .welcome-page-container__description {
        font-size: 18px;
    }
}